h1{
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: .8em;
    font-size: 2em;
    text-align: center;
    margin-top: 0.2em;
}

h2{
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: .2em;
    font-size: 1.2em;
    text-align: center;
}

.titleScreen{    
    width: 450px;
    margin: 2em auto;
}