@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap&subset=latin-ext');

html{
    font-family: 'Lato', sans-serif;  
}

nav{
  min-height: 4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(56, 52, 40);;
    text-align: center;
    padding: 14px 16px;
    margin: 2px 5px;
    text-decoration: none;    
    border-top: solid 1px rgb(56, 52, 40);
    border-bottom: solid 1px rgb(56, 52, 40);
  }
  
  li a:hover {
    border-top: solid 2px rgb(56, 52, 40);
    border-bottom: solid 2px rgb(56, 52, 40);
  }

  .active {
    background-color: #4CAF50;
  }